.mainFooter {
    background-color: rgb(144, 144, 144);
    color: #157347;
    padding: 10px;
    text-align: center;
    width: max-content;
}

#footer {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(144, 144, 144);
    color: #157347;
}

i {
    color: #157347;
}
